body 
{
    background-color: #222;
    font-size: 26px;
    text-align: center;
}

#container
{
    width: 960px;
    margin-right: auto;
    margin-left: auto;
}

h1
{
    background-color: #000;
    padding: 14px;
    margin: 0;
    color: #caca00;
    letter-spacing: 3px;
    margin-bottom: 4px;
}

#text-intro
{
    text-align: justify;
    width: 550px;
    float: left;
    background-color: #bb5b40;   
    padding: 80px 15px;   
}

#text-intro > p
{
    padding: 0;
    line-height: 2.49;
}

#photo-intro
{
    float: left;
    background: white;
    padding: 10px;
    transition: all 2s ease-in-out;
}

#photo-intro > a > img
{
    height: 463.5px;
    width: 360px;    
    display: block;
}

#photo-intro:hover
{
    transform: rotateY(360deg);
}

#main-menu
{
    background-color: darkgreen;
    margin-top: 20px;
    padding-top: 10px;    
    height: 50px;
}

ol,ul
{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

ol
{
    display: inline-block;
    text-align: center;
}

ol > li
{
    float: left;
    width: 150px;
    margin: 0 5px;
    font-weight: 700;
}

ol > li:hover
{
    background-color: #668866;
}

ol > li:hover ul
{
    display: block;
}

ul
{
    display: none;
}

ul > li
{
    margin-top: 5px;
    padding: 5px 0;
}

ul > li:hover
{
    background-color: #224422;
}

ul > li:first-child
{
    border-top: 2px solid darkgreen;
}

ul > li > a
{
    text-decoration: none;
    color: black;
    display: block;
    padding: 5px;
    font-weight: normal;
}

ul > li > a:hover
{
    color: white;
}

#content
{
    background-color: #444;
    padding: 12p    x 0;
}

h2
{
    margin: 200px 0;
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0;
    margin-top: 0;
    letter-spacing: 5px;
    color: darkmagenta;
    font-weight: 700;
}

#peru
{
    background-image: url(p-flag.png);
    background-repeat: no-repeat;
    background-size: 500px;
    padding: 166px 0;
}

#mexico
{
    background-image: url(m-flag.png);
    background-repeat: no-repeat;
    background-size: 500px;
    padding: 143px 0;
}

#tunisia
{
    background-image: url(t-flag.png);
    background-repeat: no-repeat;
    background-size: 500px;
    padding: 166px 0;
}

#usa
{
    background-image: url(us-flag.jpeg);
    background-repeat: no-repeat;
    background-size: 500px;
    padding: 131px 0;
}

#congo
{
    background-image: url(co-flag.png);
    background-repeat: no-repeat;
    background-size: 500px;
    padding: 160px 0;
}

#etiopia
{
    background-image: url(e-flag.png);
    background-repeat: no-repeat;
    background-size: 500px;
    padding: 125px 0;
}

article > header
{
    background-color: #333;
    padding: 0;
}

main > article
{
    margin-bottom: 150px;
}

main > article:last-child
{
    margin-bottom: 0;
}

#description
{
    text-align: justify;
    padding: 120px 30px 30px 30px;
    margin: 0;
    line-height: 1.5;
}

p
{
    text-align: justify;
    padding: 30px;
    margin: 0;
    line-height: 2;
}

h3
{
    margin-top: 130px;
    background-color: #224422;
    color: white;
    padding: 15px;
    letter-spacing: 1px;
}

#footer
{
   background-color: black; 
   color: #caca00;
   padding: 14px;
   margin: 0;
   letter-spacing: 3px;
}

#slider > img
{
    width: 960px;
    height: 480px;
}

#slider2 > img
{
    width: 960px;
    height: 480px;
}

#slider3 > img
{
    width: 960px;
    height: 480px;
}

#slider4 > img
{
    width: 960px;
    height: 480px;
}

#slider5 > img
{
    width: 960px;
    height: 480px;
}

#slider6 > img
{
    width: 960px;
    height: 480px;
}

.yt
{
    width: 240px;
    float: left;
    transition: all 2s ease-in-out;
    height: 240px;
    text-transform: uppercase;
    text-shadow:
    2px 2px 0 black,
    -2px 2px 0 black,
    -2px -2px 0 black,
    2px -2px 0 black;
    letter-spacing: 5px;
}

.yt:hover
{
    background-color: #f94348;
    transform: rotateY(360deg);
}

.tw
{
    width: 240px;
    float: left;
    height: 240px;
    transition: all 2s ease-in-out;
    text-transform: uppercase;
    text-shadow:
    2px 2px 0 black,
    -2px 2px 0 black,
    -2px -2px 0 black,
    2px -2px 0 black;
    letter-spacing: 5px;
}

.tw:hover
{
    background-color: #3095d3;
    transform: rotateY(360deg);
}

.fb
{
    width: 240px;
    float: left;
    height: 240px;
    transition: all 2s ease-in-out;
    text-transform: uppercase;
    text-shadow:
    2px 2px 0 black,
    -2px 2px 0 black,
    -2px -2px 0 black,
    2px -2px 0 black;
    letter-spacing: 5px;
}

.fb:hover
{
    background-color: #4668b3;
    transform: rotateY(360deg);
}

.gplus
{
    width: 240px;
    float: left;
    height: 240px;
    transition: all 2s ease-in-out;
    text-transform: uppercase;
    text-shadow:
    2px 2px 0 black,
    -2px 2px 0 black,
    -2px -2px 0 black,
    2px -2px 0 black;
    letter-spacing: 5px;
}

.gplus:hover
{
    background-color: #d95333;
    transform: rotateY(360deg);
}

#link
{
    font-size: 32px;
    line-height: 7.5;
}

#link a
{
   color: white; 
   text-decoration: none;
   display: block;
   width: 240px;
   height: 240px;
}